.topMenu{font-weight: bold;width: 100%;font-size:14px; width:650px;text-transform:uppercase;margin-left:40px}

.topMenu ul{padding: 6px 0 7px 0; margin: 0;text-align: left;}

.topMenu ul li{display: inline;margin-right:5px;}

.topMenu ul li a{color: #FFF;padding: 6px 3px 4px 3px; margin-right: 20px;text-decoration: none;border-bottom: 3px solid gray;}
.topMenu ul li a.home{border-bottom: 3px solid #FF0000;}
.topMenu ul li a.about{border-bottom: 3px solid #FEFF04;}
.topMenu ul li a.services{border-bottom: 3px solid #43AFE0;}
.topMenu ul li a.accessories{border-bottom: 3px solid #55E547;}
.topMenu ul li a.plans{border-bottom: 3px solid #E042B9;}
.topMenu ul li a.contact{border-bottom: 3px solid #F36B21;}

.topMenu ul li a.home:hover, .topMenu ul li a.home.selected{color:#FF0000;}
.topMenu ul li a.about:hover, .topMenu ul li a.about.selected{color:#FEFF04;}
.topMenu ul li a.services:hover, .topMenu ul li a.services.selected{color:#43AFE0;}
.topMenu ul li a.accessories:hover, .topMenu ul li a.accessories.selected{color:#55E547;}
.topMenu ul li a.plans:hover, .topMenu ul li a.plans.selected{color:#E042B9;}
.topMenu ul li a.contact:hover, .topMenu ul li a.contact.selected{color:#F36B21;}
