<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- 
        The configSections define a section for ASP.NET Atlas.
  -->
		<sectionGroup name="microsoft.web" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
			<section name="converters" type="Microsoft.Web.Configuration.ConvertersSection"/>
		</sectionGroup>
		<section name="HTMLEditorProvider" type="SeaburyDesign.HTMLEditorConfiguration, HTMLEditor" allowDefinition="MachineToApplication"/>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>
	<!-- 
      The microsoft.web section defines items required for the Atlas framework.
  -->
	<microsoft.web>
		<converters>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataSetConverter"/>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataRowConverter"/>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataTableConverter"/>
		</converters>
	</microsoft.web>
	<spring>
		<!-- Tell Spring to load object confiuration from the objects and config files -->
		<context>
			<resource uri="file://~/Configuration/Spring.config"/>
		</context>
	</spring>
	<appSettings/>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="Server=.;initial catalog=MOBILEDB;Integrated Security=No;uid=sa;pwd=1234567"/>
	</connectionStrings>
	<HTMLEditorProvider defaultProvider="FCKEditorHTMLProvider">
		<providers>
			<add name="TextboxHTMLProvider" type="MyCompany1.TextboxHTMLEditorProvider, TextboxHTMLProvider" Height="600" Width="800"/>
			<add name="FreeTextBoxHTMLProvider" type="MyCompany2.FreeTextBoxHTMLProvider, FreeTextBoxHTMLProvider" Height="600" Width="800"/>
			<add name="FCKEditorHTMLProvider" type="MyCompany3.FCKEditorHTMLProvider, FCKEditorHTMLProvider" Height="600" Width="800"/>
		</providers>
	</HTMLEditorProvider>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<roleManager enabled="true"/>
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
		</authentication>
		<membership defaultProvider="SqlMembershipProvider">
			<providers>
				<add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
				<add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
			</controls>
		</pages>
		<!--
          ASMX is mapped to a new handler so that proxy javascripts can also be served.
    -->
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MobileTech.ProductServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="MobileTech.AdministrationServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="MobileTech.ProductServiceBehavior" name="MobileTech.ProductService">
				<endpoint address="" binding="wsHttpBinding" contract="MobileTech.IProductService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="MobileTech.AdministrationServiceBehavior" name="MobileTech.AdministrationService">
				<endpoint address="" binding="wsHttpBinding" contract="MobileTech.IAdministrationService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
