<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../ViewSpringConfig.xslt"?>
<!-- 
  Configuration for the Spring dependency injection framework. 
  Standard components that are part of the core product are configured in this file.
-->
<objects xmlns="http://www.springframework.net"
         xmlns:aop="http://www.springframework.net/aop"
         default-dependency-check="objects"
         default-autowire="byName">

  <import resource="StandardComponents.config"/>

  <object type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core"
      dependency-check="none">
    <property name="Locations">
      <list>
        <value>file://~/Configuration/Deployment.config</value>
      </list>
    </property>
    <property name="ConfigSections">
      <list>
        <value>DeploymentConfiguration</value>
      </list>
    </property>
  </object>
  
</objects>