<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <DeploymentConfiguration>
    
    <add key="Database.Server" value="."/>
    <add key="Database.DBName" value="MOBILEDB"/>
    <add key="Database.User" value="sa"/>
    <add key="Database.Passwords" value="1234567"/>
  </DeploymentConfiguration>
</configuration>